<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.ElasticSearch"/>
	</extensions>


	<targets async="true">

		<!--<target name="elastic" xsi:type="ElasticSearch" index="MyServiceTestName-${date:format=yyyy.MM.dd}"
                uri="http://localhost:9200"
                layout ="API:MyServiceName|${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" >
		</target>-->

		<target xsi:type="ElasticSearch" name="elastic" index="MyServiceTestName-${date:format=yyyy.MM.dd}" 
				layout ="API:MyServiceTestName-|${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" 
				includeAllProperties="true" requireAuth="true" username="******" password="*******" uri="https://paymentelastic.es.westeurope.azure.elastic-cloud.com:9243" />

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="elastic" />
	</rules>
</nlog>