@tailwind base;
@tailwind components;
@tailwind utilities;

.web-chat-button {
    top: auto !important;
    bottom: 20px !important;
    left: 20px !important;
    right: auto !important;
}

.web-chat-box {
    left: 0;
    right: auto;
}

.scrollbar-mini {
    scrollbar-width: thin;
}

.scrollbar-mini::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scrollbar-mini::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}

.scrollbar-mini::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
}

.scrollbar-mini::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.mat-dialog-container {
    padding: 0 !important;
}

.responsive-dialog-panel {
    @apply w-full sm:block sm:w-140 md:w-160 h-full sm:h-auto max-w-full max-h-full;
}

@media (max-width: theme("screens.sm")) {
    .responsive-dialog-panel .mat-dialog-container {
        border-radius: 0 !important;
    }
}

.form-field-rounded .mat-form-field-flex {
    border-radius: 3rem !important;
}

.form-field-less-padding:not(.mat-form-field-appearance-outline)
    .mat-form-field-flex {
    min-height: initial !important;
}

.form-field-less-padding:not(.mat-form-field-appearance-outline)
    .mat-form-field-flex
    .mat-input-element {
    padding: 10px !important;
}

.form-field-less-padding.mat-form-field-appearance-outline
    .mat-form-field-infix {
    padding: 12px !important;
    border-top-width: 5px !important;
}

.form-field-less-padding.mat-form-field-appearance-outline
    .mat-select-arrow-wrapper {
    transform: translateY(40%) !important;
}

.form-field-less-padding.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label,
.form-field-less-padding.mat-form-field-appearance-outline.mat-form-field-can-float
    .mat-input-server:focus
    + .mat-form-field-label-wrapper
    .mat-form-field-label {
    transform: translateY(-1rem) scale(0.75) !important;
}

.form-field-no-subscript .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.form-field-dark-outline.mat-form-field-appearance-outline
    .mat-form-field-outline-start,
.form-field-dark-outline.mat-form-field-appearance-outline
    .mat-form-field-outline-gap,
.form-field-dark-outline.mat-form-field-appearance-outline
    .mat-form-field-outline-end {
    border-color: theme("colors.gray.400");
}

.custom-paginator.mat-paginator {
    background: transparent !important;
}

.custom-paginator.responsive-paginator.mat-paginator {
    @media (max-width: theme("screens.sm")) {
        .mat-paginator-container {
            justify-content: flex-end !important;
            padding: 0 !important;

            .mat-paginator-page-size {
                display: none !important;
            }

            .mat-paginator-navigation-first {
                display: none !important;
            }

            .mat-paginator-navigation-last {
                display: none !important;
            }

            .mat-paginator-range-actions {
                padding: 0 !important;
            }
        }
    }
}

.custom-paginator.mini-paginator.mat-paginator {
    .mat-paginator-container {
        justify-content: flex-end !important;
        padding: 0 !important;

        .mat-paginator-page-size {
            display: none !important;
        }

        .mat-paginator-navigation-first {
            display: none !important;
        }

        .mat-paginator-navigation-last {
            display: none !important;
        }

        .mat-paginator-range-actions {
            padding: 0 !important;
        }
    }
}
